@import "~antd/dist/antd.css";
body {
  /* background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); */
}
.App {
  min-height: 100vh;
  width: 90%;
  background-color: bisque;
  /* max-width: 600px; */
  margin: 0 auto;
}

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgoldenrod;
}
